

body {
    background-color: rgb(243, 212, 212);
}

#baslik{
    color:cadetblue;
}

.fikir_div h2{
    text-align: center;
}

.my_div, .my_div2{
    display: inline-block;
    border: 3px solid rgb(50,200,50);
    width: 40%;
    padding: 12px;
    margin-left: 60px;
    background-color:cornflowerblue;
}

.my_div2{
    padding-top: 30px;
}



.main_div,.fikir_div {
    border: 1px solid gray;
    list-style: none;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 50px;
    background-color: rgb(240, 216, 216);
}

.kisi {
    margin-bottom: 80px;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

i {
    color: black;
}